export HOST_IP=`ip address show dev docker0 | grep "inet " \
| grep -oE '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}' \
| head -1`

export CLIENT_SECRET="A208th9pyYSH1T4WZdXeMcx35qmDogbG"

export REALM="deck"

export CLIENT_ID="kong"
